{% extends 'base.html' %}
{% block titulo %}Bienvenidos al Sistema{% endblock %}

{% include 'menu.html'%}
{% block contenido %}
<div class="col-lg-5 col-md-6 col-sm-12">
    <div class="card" style="background-color: darkcyan;">
        <div class="card-body">
            <h1 class="card-title" style="color: white">Bienvenidos al Sistema</h1>
            <hr>
            <div class="mb-3">
                <h5>Esto es una muestra de Login</h5>
            </div>
            <div class="col-auto">
                <a href="/logout" class="btn btn-info">Salir</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
