{% extends 'base.html' %}
{% block titulo %}Read (One){% endblock %}

{% block contenido %}
<div class="col-lg-5 col-md-6 col-sm-12">
    <div class="card" style="background-color: darkcyan; width: 525px;">
        <div class="card-body">
            <h1 class="card-title" style="color: white">Usuario {{usuario.id}}</h1>
        </div>
        <div class="mb-3" style="font-size: 25px;">
            <label for="floatingEmptyPlaintextInput" class="mb-2">Nombre Completo: {{usuario.nombre}} {{usuario.apellido}}</label>
        </div>
        <div class="mb-3" style="font-size: 25px;">
            <label for="floatingEmptyPlaintextInput" class="mb-2">Email: {{usuario.email}}</label>
        </div>
        <div class="mb-3" style="font-size: 25px;">
            <label for="exampleFormControlTextarea1" class="form-label">Creado en: {{usuario.created_at.strftime("%d %b %Y")}}</label>
        </div>
        <div class="mb-3" style="font-size: 25px;">
            <label for="exampleFormControlTextarea1" class="form-label">Actualizado en: {{usuario.updated_at.strftime("%d %b %Y")}}</label>
        </div>
        <tr>
        <div class="btn-group">
            <a href="/user/edit/{{ usuario.id }}" class="btn btn-primary">Editar</a>
            <a href="/user/delete/{{ usuario.id }}" class="btn btn-primary">Borrar</a>
        </div>
    </div>
</div>
{% endblock %}
