html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 525px;
    padding: 0px 10px 10px 10px;
}

.form-label, .mb-2 {
    color: white;
}
